---
---

@import "{{ site.theme }}";

body {
  //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 22px;
}

#main_content h4 {
    font-size: 18px;
}

#main_content h3 {
    font-size: 20px;
}

#main_content h2 {
    font-size: 22px;
}

#main_content h1 {
    font-size: 24px;
}

#main_content ul {
    color: #DC143C;
    font-size: 20;
}
